{{#extend "mail/layouts/main"}}
  {{#content "content"}}
    <span>尊敬的 {{ fullName }},</span>
    <p>標題: 費用批准</p>
    <p>你的費用已經批准了.</p>
    <p>費用類型: {{ expenseType.name }}</p>
    <p>日期: {{ expense.date }}</p>
    <p>費用: {{ expense.cost }}</p>
    <p>備註: {{ expense.remark }}</p>
    <p>如果這封電子郵件對你沒有任何意義, 可能是有人故意或者無意地輸入了您的郵件地址, 那麼請忽略這封電子郵件.</p>
    <p>謝謝,</p>
    <p>{{ siteTeamName }}</p>
    <p>如果想進一步查詢, 請聯繫: {{ siteSupportEmail }}</p>
  {{/content}}
{{/extend}}
