{{#extend "mail/layouts/main"}}
  {{#content "content"}}
    <p>尊敬的 {{ fullName }}, 你的工资单已经更新, 请检查. 请按照下面的链接查看工资单的全部详细信息.</p>
    <p><a href="{{siteUrl}}/employees/payslip/{{payslip.id}}/detail">{{siteUrl}}/employees/payslip/{{payslip.id}}/detail</a></p>
    <p>如果仍有问题, 请联系YOOV支持.</p>
    <p>{{ siteSupportEmail }}</p>
    <p>这是一个自动生成的电子邮件, 请不要回复 ***</p>
  {{/content}}
{{/extend}}
