{{#extend "mail/layouts/main"}}
  {{#content "content"}}
    <span>尊敬的 {{ fullName }},</span>
    <p>標題: 你的工資單已經更新了</p>
      {{#if data.payType}}
        <p>支付類型: {{ oldSalary.payType.name }} -> {{ data.payType.name }}</p>
      {{/if}}
    <p>開始時間: {{ oldSalary.effectiveDate }} -> {{ newSalary.effectiveDate }}</p>
    <p>標準工資: {{ oldSalary.payRate }} -> {{ newSalary.payRate }}</p>
    <p>單位: {{ oldSalary.unit }} -> {{ newSalary.unit }}</p>
    <p>如果這封電子郵件對你沒有任何意義, 可能是有人故意或無意地輸入了您的電子郵件地址, 那麼請忽略這封電子郵件.</p>
    <p>謝謝,</p>
    <p>{{ siteTeamName }}</p>
    <p>如果想進一步查詢, 請聯繫: {{ siteSupportEmail }}</p>
  {{/content}}
{{/extend}}
