尊敬的 {{ fullName }},
<br><p>
  请点击此链接重置您的密码
   <a href="{{ siteUrl }}/auth/reset-password?email={{email}}&token={{token}}">
    {{ siteUrl }}/auth/reset-password?email={{email}}&token={{token}}
   </a>
  <br><p>
  <br><p>
  如果这封电子邮件对你没有任何意义, 可能是有人故意或无意地输入了你的电子邮件地址, 那么请忽略这封电子邮件.
  <br><p>
  谢谢,<br>
  {{ siteTeamName }}
  <br><p>
  如果想进一步查询, 请联系: {{ siteSupportEmail }}

